.slick-dots {
  bottom: -53px;


  li button::before {
    transition: all 0.1s;
    font-size : 15px;
  }

  li button:hover:before {
    transition: all 0.1s;
    font-size : 15px;
    color     : var(--green);
    opacity   : 0.75;
  }

  li.slick-active button::before {
    font-size: 20px;
    color    : var(--green);
    opacity  : 0.5;
  }
}