// .slick-arrow {

//   &.slick-prev,
//   &.slick-next {
//     z-index   : 50;
//     background: var(--white) !important;
//     width     : 52px;
//     height    : 52px;
//     box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.10);

//     &::before {
//       color: black;
//     }
//   }

//   &.slick-prev {
//     // left: ;
//   }

// }

.slick-dots {
  bottom: -53px;


  li button::before {
    transition: all 0.1s;
    font-size : 15px;
  }

  li.slick-active button::before {
    font-size: 20px;
  }
}