:root {
  --green     : #6CC21B;
  --haki      : #8EAA51;
  --blue      : #3366FF;
  --white     : #FFFFFF;
  --skin-color: #FFFDED;
  --black     : #000;

  --second          : #B7B7B7;
  --gray            : #585757;
  --med-gray        : #6D6E76;
  --dark-gray       : #37404D;
  --footer-icon-gray: #939496;
  --lavender        : #F4F0F8;
}