.services {
  padding: 175px 0 32px;

  .title {
    margin-bottom: 44px;

    color      : #231F20;
    font-size  : 38px;
    font-weight: 700;
    text-align : center;
  }

  .servicesBox {
    padding: 18px 16px 50px 53px;

    border-radius: 4px;
    background   : var(--light-bg-blue);

    .leftOptions {}

    .rightPriceBox {}
  }
}