.homeHero {
  padding-top     : 140px;
  min-height      : calc(100vh - 8rem);
  background-color: var(--green);
  color           : var(--white);

  .cont {

    .left {
      gap      : 28px;
      width    : 60%;
      max-width: 520px;

      .title {
        font-size  : 32px;
        font-weight: 700;
        max-width  : 495px;
      }

      .info {
        font-size  : 20px;
        font-weight: 600;
        max-width  : 520px;

      }
    }

    .right {
      position : relative;
      flex-grow: 1;

      .imgCont {
        margin   : -20px auto -100px;
        max-width: 622px;
      }

      .rotatingImg {
        position: absolute;

        right    : 158px;
        bottom   : -15px;
        width    : 296px;
        height   : 338px;
        animation: RotateImg 6s infinite forwards;
      }

      .heroRotatingCircles {
        position    : absolute;
        top         : -70px;
        right       : -15px;
        width       : 647px;
        height      : 647px;
        z-index     : 10;
        // position : relative;

        animation: infinite RotateClock 12s linear;

        >img {
          position: absolute;
        }

        .bgCircle {
          width : 494px;
          height: 494px;
          top   : 77px;
          left  : 77px;
        }

        .circle {
          width    : 86px;
          height   : 86px;
          animation: infinite RotateAntiClock 12s linear;

          &:nth-last-of-type(1) {
            left: 281px;
            top : 50px;
          }

          &:nth-last-of-type(2) {
            left: 455px;
            top : 111px;
          }

          &:nth-last-of-type(3) {
            left: 525px;
            top : 282px;
          }

          &:nth-last-of-type(4) {
            left: 454px;
            top : 450px;
          }

          &:nth-last-of-type(5) {
            left: 281px;
            top : 534px;
          }

          &:nth-last-of-type(6) {
            left: 108px;
            top : 452px;
          }

          &:nth-last-of-type(7) {
            left: 35px;
            top : 282px;
          }

          &:nth-last-of-type(8) {
            left: 108px;
            top : 105px;
          }
        }
      }
    }
  }


}

.bottomInfo {
  padding: 16px 0;

  .bottomCont {
    gap: 44px;

    .teaVal {
      gap: 12px;

      .imgCont {
        width : 72px;
        height: 72px;
      }

      .desc {
        .title {
          font-size  : 20px;
          font-weight: 300;
          color      : var(--second);
        }

        .number {
          font-size  : 20px;
          font-weight: 700;
          color      : var(--gray);
        }
      }
    }
  }
}

@keyframes RotateImg {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes RotateClock {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes RotateAntiClock {
  0% {
    transform-origin: 50% 50%;
    transform       : rotate(360deg);
  }

  100% {
    transform-origin: 50% 50%;
    transform       : rotate(0deg);
  }
}